@page
@model HeavyApps.Blog.Api.Pages.Docs.ElementsModel
@{
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Elements in HTML</title>
    <link rel="shortcut icon" href="/icons/APIdoc_files/elements.svg">

    <script src="/js/webElements-components.min.js"></script>
    <link rel="stylesheet" href="/css/stylesElements.min.css">


</head>

<body>
    <elements-api apiDescriptionUrl="/openapi/v1.json"
                  router="memory" />

</body>
</html>